@import "./variables";

body{
    // background-color: $primaryColor;
    font-family: 'Revalia', cursive;
}

#main-section{
    h4, h5{
        color: $primaryColor;
    }

    .scroll-arrow{
        color: $greyAccent;
        // display: block;
        animation: arrow-up-down 2s ease-in infinite;
    }

    .sub-section{
        margin-top: 4rem;
        text-align: left;

        p{
            font-size: 0.7rem;
        }

        ul{
            position: relative;
            left: -30px;
        }

        li{
            font-size: 0.7rem;
            list-style: none;
            
            &:before {
                content: ">   ";
            }
        }

        img{
            width: 45vw;
            margin-left: 20px;
        }

        // &.left-section{
        //     img{
        //         width: 45vw;
        //         margin-right: 20px;
        //     }
        // }

        // &.right-section{
        //     img{
        //         width: 45vw;
        //         margin-left: 20px;
        //     }
        // }
    }
}

@keyframes arrow-up-down {

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(30%);
    }

    100%{
        transform: translateY(0);
    }
    
}


.navbar{
    font-size: 0.75rem;

    .nav-link{
        color: $secondaryColor !important;
    }

    .active{
        color: $primaryColor !important;
    }

}

#hero-section{

    h1{
        font-size: 2rem;
    }

    .overlay{
        width: 100%;
        // height: property-value(height, hero-img);
        height: 570px;
        position: absolute;
        top: 4.2rem;
        left: 0%;
        background-color: $primaryColor;
        opacity: 10%;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-45%, -50%);
    }

    .highlight{
        color: $primaryColor;
        background-color: rgba(255, 255, 255, 0.8) ;
    }
}

